@media screen and (min-width: 600px) {
    pre,
    pre code,
    h1 {
        font-family: 'Roboto Mono', monospace;
        font-size: 14px;
        line-height: 1.28;
        position: relative;
        font-variant-numeric: tabular-nums;
    }
    .forecast-Backward {
        width: 6em
    }
    .forecast-Forward {
        width: 6em
    }
    .forecast-button-region {
        width: 6em;
    }
    .h1,
    h1 {
        font-size: 36px
    }
}

@media screen and (max-width: 600px) {
    pre,
    pre code,
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 4vw;
        line-height: 1.28;
        position: relative;
        font-variant-numeric: tabular-nums;
    }
    .forecast-Backward {
        width: 15vw
    }
    .forecast-Forward {
        width: 15vw
    }
    .forecast-button-region {
        width: 20vw
    }
    .h1,
    h1 {
        font-size: 6vw
    }
}

.backwards-button {
    align-content: left
}

.forwards-button {
    align-content: right
}

.forecast-region {
    float: right;
}

#header {
    color: #000;
    text-align: center;
    font-weight: 700
}

#logo {
    background-color: #fff
}

.centered {
    margin-left: auto;
    margin-right: auto
}